.form-control, #password, #confirm,#current_password,#email,#website,#fb{

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    /*color: #F9D970;*/
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #F9D970;
    border-radius: 4px;
    
    box-shadow: #F9D976;



    /*border: none;*/
    /*font-size: 20px;*/
    /*margin-left: 10%;*/
    /*border-bottom: 2px solid #F9D970;*/
    /*color: lightsalmon;*/
    /*border-radius: 15px;*/
}


