/* CSS Document */
#addpromo-submit{
	transition: all;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
#addpromo-submit:hover{
	transform: scale(1.10);
	background: #F9D970;
}

.form-control .addpromo input[type="all"]{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #F9D970;
    background-color: #fff;
    background-image: none;
    border: 1px solid #F9D970;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px #F9D970;
    box-shadow: inset 0 1px 1px #F9D970;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom: 20px;
	cursor: auto;
}
