.card{
    background-color : #f39c12;
    border: 1px solid black;
    border-radius : 6px;
    padding: 10px;
    width: 30rem;
    margin-bottom : 30px;
}

/* .input-group {
    width : 22rem;
} */

.search {
    margin-bottom : 3rem;
    margin-right : 12%;
    width: 35rem;
}

.section-padding{
    padding : 50px;
}

.nopromo {
    font-size : 525%;
}